<div class="card text-center">
  <div class="card-body">
    <h3>User information</h3>
      <p><strong>Name:</strong> <%= @user.name %></p>
      <p><strong>Email address:</strong> <em><%= @user.email %></em></p>
  </div>
</div>
